body {
  font-family: "lato",Segoe UI;
}



.login-section{
  background-color: linear-gradient(to bottom, #0033cc, #cc0000);
}
.login-container {
  height: 100vh;
  background: linear-gradient(to bottom, #0033cc, #cc0000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 360px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.editfiled-button-postion {
      justify-content: flex-start;
    position: relative;
    top: 47px;
}