body {
  font-family:
    "lato ",
    Segoe UI !important;
}

.login-section {
  background-color: linear-gradient(to bottom, #0033cc, #cc0000);
}

.login-container {
  height: 100vh;
  background: linear-gradient(to bottom, #0033cc, #cc0000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  max-width: 450px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.editfiled-button-postion {
  justify-content: flex-start;
  position: relative;
  top: 47px;
}

.card-design {
  position: relative;
  min-height: 120px;
  min-width: 420px;
  box-shadow: 6px;
}

.avatar-icon-style {
  position: absolute !important;
  top: 14px;
  left: 16px;
  width: 32px;
  height: 32px;
}

.chip-icon-style {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.table-header {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #043ba0 !important;
}

.editBoxforBranch {
  background-color: lightgray;
  margin: auto;
  margin-top: 5;
  padding: 40px;
  max-width: 600;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 12px 38px 0px,
    rgba(0, 0, 0, 0.14) 0px 18px 46px 0px,
    rgba(0, 0, 0, 0.12) 0px 7px 15px 0px;
}

.table-data {
  font-size: 18px !important;
  font-weight: 600;
}

.dashboardCardValue {
  margin-top: 4px;
  text-align: center;
  font-weight: bold;
}

.action-icon-btn {
  border-radius: 50%;
  background-color: #043ba0 !important;
  width: 30px !important;
  height: 30px;
  padding: 8px;
  color: #ffffff !important;
}

.action-icon-btn:hover {
  background-color: #043ba0;
}

.action-icon-btn-delete {
  border-radius: 50%;
  background-color: #f90202 !important;
  width: 30px !important;
  height: 30px;
  padding: 8px;
  color: #ffffff !important;
}


.sidebar-drawer{
  width: 70px;
  flex-shrink: 0;
}

.sidebar-drawer .MuiDrawer-paper{
 width: 75px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #002b5c, #8b0000);
  color: white;
  display: flex;
  align-items: center;
  padding-top: 16px;

}
.editAddPageContainer{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: #fff;
}